[data-js-canvas] {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-js-canvas] svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

[data-js-canvas] path,
[data-js-canvas] g {
  transform-box: fill-box;
  transform-origin: center;
}

.visual {
  position: relative;
}



.visual--green {
  background: #1E302D;
}

.visual--vertical {
  aspect-ratio: 9 / 16;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.visual--max.visual--vertical {
  max-width: 100% !important;
  max-height: 100vh !important;
}

.visual--hero {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);

  max-width: 960px;
}

.visual__text {
  position: absolute;
  right: 22%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Satoshi', 'Arial', sans-serif;
  /* font-family: 'Baskervville Local', 'Baskervville', 'Times New Roman', serif; */
  font-size: clamp(1.6rem, 6vw, 4rem);
  font-weight: 900;
  /* font-weight: 400; */
  text-align: left;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  pointer-events: none;
  color: #f8fbff;
  width: 22%;
  min-width: 120px;
}



.visual--vertical .visual__text {
  right: 50%;
  top: auto;
  bottom: 25%;
  transform: translateX(50%);
  text-align: center;
  width: auto;
  font-size: clamp(1.8rem, 7vw, 5rem);
}

.visual--max.visual--vertical .visual__text{
  font-size: 5.5vh;
  
}

.visual--vertical svg {
  transform: scale(1.4);
}

.hero-visual__text span {
  display: block;
}
